[Unit]
Description=HYROVI HPM proxy-host provisioner
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hyrovi-hpm-node-provisioning
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=6
